{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
    <h1 class="program_title">Toutes les catégories</h1>
    <div>
        <a href="{{ path('index') }}" class="navigation">Retour à l'accueil</a>
    </div>
    
    {% for category in categories %}
        <div class="program_container">
            <p class="program_text">{{ loop.index }} / {{ category.name }}</p>
            <a href="{{ path('category_show', { categoryName: category.name }) }}" class="program_lien">Voir la fiche</a>
        </div>
    {% else %}
        <h3>Aucune catégorie trouvée.</h3>
    {% endfor %}
{% endblock %}
