<form method="post" action="{{ path('episode_delete', {'id': episode.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet épisode?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.id) }}">
    <button class="submit">Supprimer</button>
</form>
