{% extends 'base.html.twig' %}

{% block title %}Modifier une série{% endblock %}

{% block body %}
    <a href="{{ path('program_list') }}" class="navigation">Retour à la liste des séries</a>
    <section class="form form-new">
        <h1>Modifier une série</h1>

        {{ include('program/_form.html.twig', {'button_label': 'Modifier la série'}) }}

        {{ include('program/_delete_form.html.twig') }}
    </section>
{% endblock %}
