{% extends 'base.html.twig' %}

{% block title %}Liste des séries{% endblock %}

{% block body %}
    <h1>Liste des séries</h1>
    <a href="{{ path('program_new') }}" class="navigation">Créer une nouvelle série</a>

    <table class="table">
        <thead>
            <tr>
                <th>Série</th>
                <th>Synopsis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.title }}</td>
                <td>{{ program.summary }}</td>
                <td>
                    <a href="{{ path('program_edit', {'idProgram': program.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucunes données trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
