{% extends "base.html.twig" %}

{% block body %}
<a href="{{ path('program_index') }}" class="navigation">Retour à la liste des séries</a>
    <section class="form form-new">
        <h1>Ajouter une série</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type='submit' value='Ajouter la série' class="submit">
        {{ form_end(form) }}
    </section>
{% endblock %}