{% extends 'base.html.twig' %}

{% block title %}Ajouter une série{% endblock %}

{% block body %}
    <a href="{{ path('program_list') }}" class="navigation">Retour à la liste des séries</a>
    <section class="form form-new">
        <h1>Ajouter une série</h1>
        {{ include('program/_form.html.twig') }}
    </section>
{% endblock %}
