body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.navbar {
    margin: 0;
    padding: 0;
}
.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-brand h2 {
    margin: 0;
    padding-left: 20px;
}
.nav-item {
    margin: 0 20px;
    background-color: whitesmoke;
    border-radius: 5px;
}
.navbar-acces-pages {
    margin: 0 auto;
}
.navbar-connexion {
    margin: 0 auto;
}
.nav-link {
    padding: 5px;
    width: 120px;
    text-align: center;
}
.logo_title {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 40px;
}
.welcome {
    text-align: center;
    margin: 200px auto 100px;
    font-size: 80px;
}
.program_title {
    text-align: center;
    margin: 50px;
    font-size: 40px;
    border-bottom: solid 2px ;
}
.program_text:nth-child(1) {
    font-size: 25px;
}
.program_text:nth-child(2) {
    font-size: 20px;
    padding-left: 100px;
}
.program_container {
    border-bottom: solid 1px gray;
}
.program_container a {
    margin-left: 100px;
}
.navigation {
    font-size: 25px;
    color: #058AD5;
    margin: 20px;
}
.program_lien {
    display: block;
    margin: 10px;
    line-height: 32px;
    text-align: center;
    width: 150px;
    height: 30px;
    font-size: 20px;
    background-color: #058AD5;
    border-radius: 10px;
    color: white;
}
.form {
    margin: 50px auto;
    padding: 20px;
    width: 50vw;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form input,
.form textarea,
.form select {
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    width: 700px;
    text-align: center;
}
.submit {
    width: 200px;
    background-color: gray;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    padding: 10px;
}
.submit:hover {
    background-color: #058AD5;
}

.login-name {
    background-color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    color: #058AD5;
}

.form-new ul {
    background-color: rgb(255, 234, 234);
    font-size: 20px;
    color: red;
    border: solid 2px red;
    padding: 10px 30px;
    list-style: none;
    animation: 1s warning infinite ease-in-out
}

@keyframes warning {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1.0); }
}
