<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('build/logo-tv.png') }}" width="60" max-height="100%" alt="">
        <h1 class="logo_title">Wild Series</h1>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbar-acces-pages">
            <!--CATEGORIES-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Animation</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Documentaire</a>
                    <a class="dropdown-item" href="#">Dramatique</a>
                    <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">Erotique</a>
                    <a class="dropdown-item" href="#">Espionnage</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Fantastique</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Historique</a>
                    <a class="dropdown-item" href="#">Horreur</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Science-fiction</a>
                    <a class="dropdown-item" href="#">Super héros</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <!--ACTEURS-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acteurs</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Par ordre alphabétique</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Par catégorie</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Par nationnalité</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Par tranche d'age</a>
                </div>
            </li>
            <!--MES FAVORIS-->
            <li class="nav-item">
                <a class="nav-link" href="#">Mes favoris</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto navbar-connexion">
            <!--DECONNEXION-->
            <li class="nav-item btn-deconnexion">
                <a class="nav-link" href="#">Déconnexion</a>
            </li>
            <!--CONNEXION-->
            <li class="nav-item btn-connexion">
                <a class="nav-link" href="#">Connexion</a>
            </li>
        </ul>
    </div>
</nav>